body{
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}

#container{
    display: grid;
    border: solid black 1px;
}

.body_part{
    border: solid black 1px;
    margin: 0.25rem;
    padding: 0.25rem;
}
#head{
    height: 5vh;
}
#shoulders{
    height: 5vh;
}
#torso{
    height: 65vh;
    background-color: gray;
}
#gamewindow{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
}

.cell-container{
    background-color: green;
    border: solid lightgreen 1px;
}

#waist{
    height: 5vh;
}
#app_controls{
    display: flex;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.app_control_buttons{
    height: 75%;
    margin: 0.25rem;
}

#legs{
    height: 5vh;
}
#feet{
    height: 5vh;
}

