#container{
    display: grid;
    width: 98vw;
    height: 98vh;
    margin: 0.25rem;
    padding: 0.25rem;
    border: solid black 1px;
}

#body{
    display: flex;
    flex-flow: column nowrap;
}

.body_part{
    border: solid black 1px;
    margin: 0.25rem;
    padding: 0.25rem;
}
#head{
    height: 10vh;
}
#shoulders{
    height: 5vh;
}
#torso{
    height: 60vh;
    background-color: gray;
}
#gamewindow{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
}

.cell-container{
    background-color: green;
    border: solid lightgreen 1px;
}

#waist{
    height: 5vh;
}
#app_controls{
    display: flex;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.app_control_buttons{
    height: 75%;
    margin: 0.25rem;
}

#legs{
    height: 15vh;
}
#feet{
    height: 5vh;
}

