body{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100vh;
    width:100vw;
    margin: 0px;
    overflow: hidden;
}

header{
    padding: 1px;
    border: solid black 1px;
}

#container{
    display: block;
    border: solid black 1px;
    overflow: hidden;
}
#renderer{
    display: block;
    overflow:hidden;
}

footer{
    padding: 1px;
    border: solid black 1px;
}
#tileModifiers{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
#tilePalette{
    display: flex;
    flex-flow: column nowrap;
}
#tileOptions{
    display: flex;
    flex-flow: column nowrap;
}

