    .keep_class{fill:#E80CD0;stroke:#000000;stroke-miterlimit:10;}
	.agriculture_class{fill:#AFAA23;stroke:#000000;stroke-miterlimit:10;}
	.copper_class{fill:#E19B35;stroke:#000000;stroke-miterlimit:10;}
	.ore_class{fill:#717878;stroke:#000000;stroke-miterlimit:10;}
	.grass_class{fill:#498C40;stroke:#000000;stroke-miterlimit:10;}
	.gold_class{fill:#F2C53D;stroke:#000000;stroke-miterlimit:10;}
	.path_class{fill:#FCEE9E;stroke:#000000;stroke-miterlimit:10;}
	.water_class{fill:#4A77F3;stroke:#000000;stroke-miterlimit:10;}
	.forest_class{fill:#016E45;stroke:#000000;stroke-miterlimit:10;}